<div class="container">
<form [formGroup]="searchForm">
    <div class="form-group row justify-content-end mb-5">
      <div class="col-6 mb-2">
          <input class="form-control h-100" formControlName="searchRole" type="text" placeholder="Search by role" aria-label="Search">
      </div>
    </div>
</form>

<div class="clearfix"></div>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="sortBy('Id')">Id
            <i class="fa"
            [ngClass]="{'fa-sort': sortColumn != 'Id', 'fa-sort-asc': sortColumn == 'Id' && sortAsc, 'fa-sort-desc': sortColumn == 'Id' && !sortAsc}"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sortBy('Role')">Role 
            <i class="fa"
               [ngClass]="{'fa-sort': sortColumn != 'Role', 'fa-sort-asc': sortColumn == 'Role' && sortAsc, 'fa-sort-desc': sortColumn == 'Role' && !sortAsc}"
               aria-hidden="true"></i>
        </th>
        <th scope="col">Created</th>
        <th><button class="btn btn-info btn-sm" (click)="addRole()">add</button></th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'alert-danger': !role.active}" *ngFor="let role of roles"> 
        <th scope="row">{{role.id}}</th>
        <td>{{role.name}}</td>
        <td>{{role.created | date}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="getRole(role)">view</button></td>
      </tr>
    </tbody>  
</table> 

<div class="d-flex justify-content-center">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [(ngModel)]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>

   <!-- [] is for @Input, () is for @Output -->
   <app-role-edit [role]="role" (status)="status($event)" ></app-role-edit>
  </div>