<div>

<form [formGroup]="registerForm" name="form" class="needs-validation" (ngSubmit)="register()" novalidate>
    <h1 class="text-center">Sign Up</h1>
    <hr>
    
     <div class="form-group">
        <label class="control-label" style="margin-right:10px">I am a: </label>
        <label class="radio-inline">
          <input class="mr-3" type="radio" value="male" formControlName="gender">Male
        </label>
        <label class="radio-inline ml-3">
          <input class="mr-3" type="radio" value="female" formControlName="gender">Female
        </label>
      </div>
    
  
    <div class="form-group">
      <input type="text" class="form-control mr-sm-2" 
             [ngClass]="{'is-invalid': registerForm.get('username').errors &&
                          registerForm.get('username').touched}"
             formControlName="username"  
             placeholder="Username">
      <div class="invalid-feedback">Please choose a username</div>
    </div>
    
      <div class="form-group">
        <input [ngClass]="{'is-invalid': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}" class="form-control"
          placeholder="Known as" formControlName="knownAs">
        <div class="invalid-feedback" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">Known as is required</div>
      </div>

      <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
            placeholder="Date of Birth" formControlName="dateOfBirth" type="date" >
          <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
      </div>

      <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" class="form-control"
            placeholder="City" formControlName="city">
          <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">City is required</div>
        </div>
      
        <div class="form-group">
          <input [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}" class="form-control"
            placeholder="Country" formControlName="country">
          <div class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">Country is required</div>
        </div>
      
  
    <div class="form-group">
      <input type="password" class="form-control mr-sm-2" 
      [ngClass]="{'is-invalid': registerForm.get('password').errors &&
      registerForm.get('password').touched}"
             formControlName="password"  
             placeholder="Password">
      <div class="invalid-feedback" 
           *ngIf="registerForm.get('password').hasError('required') &&
                  registerForm.get('password').touched">Password is required
      </div>
      <div class="invalid-feedback" 
           *ngIf="registerForm.get('password').hasError('minlength') &&
                  registerForm.get('password').touched">Password must be at least 4 characters
      </div>
      <div class="invalid-feedback" 
           *ngIf="registerForm.get('password').hasError('maxlength') &&
                  registerForm.get('password').touched">Password can't exceed 8 characters
      </div>
    </div>
      

    <div class="form-group">
        <input type="password" class="form-control mr-sm-2" 
        [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors &&
        registerForm.get('confirmPassword').touched
        || registerForm.get('confirmPassword').touched
        && registerForm.hasError('nomatch')}"
               formControlName="confirmPassword"  
               placeholder="Confirm Password">
       <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched">Password is required
       </div>
       <div class="invalid-feedback"
            *ngIf="registerForm.get('confirmPassword').touched
            && registerForm.hasError('nomatch')">Password must match
       </div>
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-info mr-2" [disabled]="!registerForm.valid" type="submit">Register</button>
      <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button> 
    </div>
    <!-- [disabled]="!registerForm.valid" -->
  </form>

  <div>
    Form value: {{registerForm.value | json}}
    Form status: {{registerForm.status | json}}
  </div>

</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>