<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/home']" >Dating App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/members']" ><span class="uk-icon uk-margin-small-right" uk-icon="home"></span> Matches</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/lists']" ><span class="uk-icon uk-margin-small-right" uk-icon="icon: list"></span> Lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/messages']" ><span class="uk-icon uk-margin-small-right" uk-icon="icon: comments"></span> Messages</a>
            </li>
          </ul>
          
          <div class="uk-navbar-right mr-3">
                <div *ngIf="loggedIn()" class="dropdown uk-text-uppercase uk-text-muted" dropdown>
                        <a class="dropdown-toggle" dropdownToggle>
                            WELCOME {{authService.decodedToken?.unique_name | titlecase}}
                        </a>
                        <div class="dropdown-menu mt-3" *dropdownMenu>
                            <a class="dropdown-item" [routerLink]="['/settings']"><i class="fa fa-settings"></i> Settings</a>
                            <div class="dropdown-divider"> </div>
                            <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i> Edit Profile</a>
                            <div class="dropdown-divider"> </div>
                            <a class="dropdown-item" [routerLink]="" (click)='logout()'><i class="fa fa-sign-out"></i> Logout</a>
                        </div>
                </div>           
                    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
                        <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" required [(ngModel)]="model.username">
                        <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" required [(ngModel)]="model.password">
                        <button [disabled]="!loginForm.valid" class="btn btn-info" type="submit">Login</button>
                    </form>
                </div>
        </div>
      </nav>
