<div class="list-group">
    <a [routerLink]="['/settings/photos']"  class="list-group-item list-group-item-action router-link-active">Photo <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    <a href="#" class="list-group-item list-group-item-action">Profile</a>
    <a [routerLink]="['/settings/users']"  class="list-group-item list-group-item-action router-link-active">Users</a>
    <a [routerLink]="['/settings/roles']" class="list-group-item list-group-item-action router-link-active">Roles</a>
  </div>


  